

.black-bg {
    background: #000000!important;
}

.white-text {
    color: #ffffff!important;
}

.page {
    background: black!important;
}

.header {
    background: #454343!important;
}  

.footer {
    background: #454343!important;
    color: whitesmoke;
}

.text-center {
    text-align: center!important;
    color: whitesmoke;
}