
.header-brand-img {
    height: 8rem;
}

.card-name-text {
    font-size: 6.0rem;
    font-weight: 1000;
    line-height: 1.1;
}

.card-sub-text {
    font-size: 3.0rem;
    font-weight: 800;
    line-height: 1.1;
}

.card-display-text {
    font-size: 3.0rem;
    font-weight: 800;
    text-align: justify;
    text-justify: inter-word;
    line-height: 1.1;
}

.carousel .slide {
    background: #f5f7fb  !important;
}

.preview-img {
    margin: 5px;
    width: 120px;
    height: 120px;
    border: thin solid rgba(64, 64, 64, 0.15);
    border-radius: 5px;
    object-fit: cover;
  }

.page {
    background: #f5f7fb !important;
}  

.header {
    background: #f5f7fb !important;
}  